.countrywiseTable{
    margin-top: 20px;
    margin-bottom: 30px;
    overflow: auto;
    max-height: 455px;
    scrollbar-width: thin;
}

.countrywiseTable tr{
    display: flex;
    justify-content: space-between;
    margin: 2px;
    border: .5px solid rgb(25, 110, 96);
    border-radius: 10px;
    padding: 2px;
    cursor: pointer;
}

.countrywiseTable td{
    padding: 0.2rem;
}
.countrywiseTable tr:nth-of-type(odd){
    background-color: rgba(224, 221, 221, 0.664);
}