*{
  margin: 0;
  font-family: Koulen;
}

.app{
  display: flex;
  justify-content: space-evenly;
  padding: 20px                   ;
}

.app_left{
  flex: 0.9             ;
}

.avatar_heading{
  display: flex;
}

.avatar_heading h1{
  margin-left: 10px;
  color: rgb(255, 38, 0);
}
.app_header{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.app_cards{
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.card-info{
  margin: 20px;
  padding: 20px;
}
.worldGraph{
  margin-top: 20px !important;
}

.chart-radio{
  display: flex;
}

.guidelines h4{
  font-size: 20px;
  font-weight: bold;
  padding: 4px;
}

.guidelines ul{
  list-style: square;
}
.guidelines li{
  font-size: 18px;
  padding: 3px;
  color: rgb(29, 136, 224);
}
@media (max-width: 990px) {
  .app{
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  *{
    flex-direction: column;
  }
}